{% extends "app/logged_in_base.html" %}
{% load i18n %}
{% load settings %}

{% block content %}
	{% load render_bundle from webpack_loader %}
	{% render_bundle 'Dashboard' attrs='async' %}

	<!--[if lte IE 8]>
		<div class="alert alert-warning alert-dismissible">
            WebODM cannot be used with this version of Internet Explorer. Could you please upgrade <a href="https://www.microsoft.com/en-us/download/internet-explorer.aspx">Internet Explorer</a> to the latest version or use <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>?
        </div>
	<![endif]-->

	<h3>欢迎 ☺</h3>


	{% if no_processingnodes %}
		{% include "quota.html" %}


		{% trans 'Add a Processing Node' as add_processing_node %}
		{% with nodeodm_link='<a href="https://github.com/OpenDroneMap/NodeODM" target="_blank">NodeODM</a>' api_link='<a href="https://github.com/OpenDroneMap/NodeODM/blob/master/docs/index.adoc" target="_blank">API</a>' %}
			<p>
			{% blocktrans %}To get started, "{{ add_processing_node }}". A processing node is a computer running an instance of {{ nodeodm_link }} or some other software implementing this {{ api_link }}.{% endblocktrans %}
			</p>
		{% endwith %}
		<button class="btn btn-primary" onclick="location.href='{% url "admin:nodeodm_processingnode_add" %}';"><i class="fa fa-plus-circle"></i> {{ add_processing_node }}</button>
		
	{% else %}
		{% include "quota.html" %}

		{% if no_tasks %}
			<p>
				创建工程后请导入图片和控制点文件。
			</p>
			<p>
				<ul>
					<li>创建项目至少需要16张影像</li>
					<li>影像的重叠度应当不小于70%</li>
					<li>如果需要创建精密的3D模型，则重叠度应不小于80%</li>
					<li>{% gcp_docs_link as gcp_link %}{% blocktrans with link_start=gcp_link|safe link_end='</a>' %}添加{{link_start}}控制点文件{{link_end}}能够提高模型的精度{% endblocktrans %}</li>
				</ul>
			</p>
		{% endif %}
		
		<div id="dashboard-app" data-dashboard></div>

	{% endif %}
{% endblock %}
