[data-mapview]{
    height: calc(50vh);
}

.map-view{
    height: calc(90%);
    position: relative;

    input[type="range"]{
        margin-left: 4px;
        display: inline-block;
        width: 130px;
        position: relative;
        top: 6px;
    }

    .map-type-selector{
        float: right;
    }

    .map-container{
        height: 90%;
        position: relative;
        .standby{
            z-index: 9999;
        }
    }
}

.add-button, .list-group{
    margin-bottom: 8px;
    margin-top: 8px;
}